---

- name: update cache
  pacman:
    update_cache: true
    update_cache_extra_args: --noconfirm
  when:
    - ansible_os_family | lower == 'archlinux' or
      ansible_os_family | lower == 'artixlinux'

- name: update apt cache
  apt:
    update_cache: true
  when: ansible_os_family | lower == 'debian'

- block:
    - name: Import EPEL GPG key.
      rpm_key:
        key: https://archive.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-{{ ansible_distribution_major_version }}
        state: present

    - name: install EPEL repository
      yum_repository:
        name: epel
        state: present
        description: Extra Packages for Enterprise Linux {{ ansible_distribution_major_version }} - $basearch
        baseurl: http://download.fedoraproject.org/pub/epel/{{ ansible_distribution_major_version }}/$basearch
        gpgkey: file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-{{ ansible_distribution_major_version }}
        metalink: https://mirrors.fedoraproject.org/metalink?repo=epel-{{ ansible_distribution_major_version }}&arch=$basearch&infra=$infra&content=$contentdir
        failovermethod: priority
        gpgcheck: 1
        enabled: 1

    # - name: update rpm cache  # noqa 'command-instead-of-module'
    #   command: yum clean metadata
    #   args:
    #     warn: false
  when:
    - ansible_os_family | lower in ['redhat', 'rocky']

- name: create ansible local facts directory
  file:
    dest: /etc/ansible/facts.d
    state: directory
    owner: root
    group: root
    mode: 0775
