################################################################################
# SOURCES
#

{% for id in syslog_sources.keys() %}
source {{ id }} {
{% for dic in syslog_sources.get(id, []) %}
{% if 'comment' in dic %}
  # {{ dic.comment }}
{% endif %}
{% for k, v in dic.items() if k != 'comment' %}
  {{ k | replace('_', '-') }}({{ '"%s"' | format(v) if v else '' }});
{% endfor %}
{% endfor %}
};

{% endfor %}

